<a
href="https://ifttt.com/view_embed_recipe/314790-send-me-an-email-of-the-latest-news-from-danny-krashen-s-calc-1-course-at-uga"
target = "_blank" class="embed_recipe embed_recipe-l_78" id=
"embed_recipe-314790"><img src= 'https://ifttt.com/recipe_embed_img/314790'
alt="IFTTT Recipe: send me an email of the latest news from Danny Krashen's
Calc 1 course at UGA. connects feed to email" width="370px"
style="max-width:100%"/></a><script async type="text/javascript" src=
"//ifttt.com/assets/embed_recipe.js"></script>

<a
href="https://ifttt.com/view_embed_recipe/314807-send-me-an-android-notification-for-the-latest-news-from-danny-krashen-s-calc-1-course-at-uga"
target = "_blank" class="embed_recipe embed_recipe-l_94" id=
"embed_recipe-314807"><img src= 'https://ifttt.com/recipe_embed_img/314807'
alt="IFTTT Recipe: send me an android notification for the latest news from
Danny Krashen's Calc 1 course at UGA. connects feed to
android-notifications" width="370px" style="max-width:100%"/></a><script
async type="text/javascript" src=
"//ifttt.com/assets/embed_recipe.js"></script>

<a
href="https://ifttt.com/view_embed_recipe/314808-send-me-an-ios-notification-for-the-latest-news-from-danny-krashen-s-calc-1-course-at-uga"
target = "_blank" class="embed_recipe embed_recipe-l_90" id=
"embed_recipe-314808"><img src= 'https://ifttt.com/recipe_embed_img/314808'
alt="IFTTT Recipe: send me an iOS notification for the latest news from
Danny Krashen's Calc 1 course at UGA. connects feed to ios-notifications"
width="370px" style="max-width:100%"/></a><script async
type="text/javascript" src= "//ifttt.com/assets/embed_recipe.js"></script>
