	<ul class="nav nav-pills">
		<li id="home_link">
      <a href="{{ "/" | prepend: site.baseurl}}"
        >Home</a>
    </li>
    <li id="hw_link">
      <a href="{{ "/hw/" | prepend: site.baseurl}}"
        >Homework</a>
    </li>
    <li id="notes_link">
      <a href="{{ "/lectures/" | prepend: site.baseurl}}"
        >Class Notes</a>
    </li>
    <li id="notes_github">
      <a href="https://github.com/dkrashen/graphtheory-notes"
        >Notes GitHub</a>
    </li>
    <li id="notes_github">
      <a href=
        "https://github.com/dkrashen/graphtheory-notes/raw/master/graphtheory.pdf"
        >Notes PDF</a>
    </li>
    <li>
      <a href="http://dkrashen.github.io/"
        >Danny's Page</a>
    </li>
	</ul>

